footer.footer
  .footer__logo
  //- a.nav__el.nav__el--footer= STOP  AAPI  Hate
  ul.footer__nav
    li: a(href='#') About us
    li: a(href='#') Download apps
    li: a(href='#') Donation
    li: a(href='#') Careers
    li: a(href='#') Contact
